// Buttons

.button {
	
	display: block;
	background: $red;
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid $red;
	line-height: 18px;
	padding: 8px 16px 10px;
	text-align: center;
	min-width: 200px;
	cursor: pointer;
	&:hover {
		background: $white;
		color: $red;
	}

}

.modal-link-box {
	.modal-link {
		display: block;
		width: 100%;
	}

	.modal-link-btn {
		font-size: 92%;
	}
}