// Buttons

.button {
	
	display: block;
	background: $red;
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid $red;
	line-height: 18px;
	padding: 8px 16px 10px;
	margin-bottom: 8px;
	text-align: center;
	min-width: 200px;
	cursor: pointer;
	&:hover {
		background: $white;
		color: $red;
	}

	&.blue {
		background: $blue;
		border-color: $blue;
		&:hover {
			background: $white;
			color: $blue;
		}
	}

}



.modal-link-box {
	.modal-link {
		display: block;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: none;
	}

	/*
	.modal-link-btn {
		padding: 20px 0;
		font-size: 92%;
		&:before {
			content: '\1F517 \00A0';
		}
		&:hover { 
			text-decoration: none;
			color: $red;
		}
	}
	*/
}