#moda_calendar {
    position: relative;
    display: flex;
    padding: 20px 0 60px;

.event>br,
font { display: none; }

    .row { 
        width: 100%;
    }

// Elements  ////////////////////////////////////////////////////////////////////////////////////////////////////

    .icon {
        height: 36px;
        width: 36px;
        display: inline-block;
        background-size: cover;
        text-indent: -1000vw;
        &:not(:hover) {
            @extend .filter-black;
        }
        &.grid      { background-image: url('../images/toggle-grid.png');     }
        &.list      { background-image: url('../images/toggle-list.png');     }
        &.planner   { background-image: url('../images/toggle-planner.png');  }
        &.social    { background-image: url('../images/share-via.png');       }
        &.email     { background-image: url('../images/share-email.png');      }
        &.print     { background-image: url('../images/share-print.png');      }
    }


// Containers ////////////////////////////////////////////////////////////////////////////////////////////////////

    .calendar_header {
        order: 1;
        @extend .col-md-12;
        padding: 12px 0;
        text-align: center;
    }    

    
    .view_toggle {
        order: 3;
        @extend .col-md-6, .col-lg-2;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 0;
        font-size: 92%;
        text-align: center;
        .views {
            word-spacing: 8px;
        }
    }    

    .key {
        @extend .col-md-12, .col-lg-8, .col-xl-7, .row, .justify-content-around;
        order: 4;
       .icons {
            @extend .col-auto;    
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 8px 0;
            border: 2px solid $grey;
            max-width: 564px;
            font-size: 15px;
            >div { padding-right: 0; }
            a {
                @extend .button;
                display: inline-block;
                padding: 0 0 0 8px;
                color: $black !important;
                background-color: $transparent;
                border-color: $transparent;
                min-width: 0;
                text-align: left;
                &:after { 
                    content: ':';
                }
            }     
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: 0 4px 0 12px !important;
                    @extend .col-12, .col-sm-12, .col-md-6;
                    &:nth-of-type(3n+1) { @extend .col-lg-3; }
                    &:nth-of-type(3n+2) { @extend .col-lg-4; }
                    &:nth-of-type(3n+3) { @extend .col-lg-5; }
                    &:before { 
                        content: '';
                        display: inline-block;
                        height: 13px;
                        width: 17px;
                        margin-right: 5px;
                    }
                    // Event Types
                    &[data-option=""]:before { background-color: $grey; }
                    &[data-option="workshop"]:before { background-color: $blue; }
                    &[data-option="panel"]:before { background-color: $yellow; }
                    &[data-option="demo"]:before { background-color: $red; }
                    &[data-option="tour"]:before { background-color: $pink; }
                    &[data-option="conference"]:before { background-color: $green; }
                    &[data-option="showcase"]:before { background-color: $purple; }
                    &[data-option="community-gathering"]:before { background-color: $darkblue; }
                    &[data-option="virtual-engagement"]:before { background-color: $orange; }
                    &[data-option="reception"]:before { background-color: $forest; }
                }
            }
        }
    }

    .share_buttons {
        @extend .col-md-6, .col-lg-2;
        order: 5;
        padding: 12px 0;
        text-align: center;
    }


    .filters {
        @extend .col-12, .row, .justify-content-center;
        order: 2;

        .filter {

            &.list {
                @extend .col-auto;
                padding: 0;
                margin: 0 10px 10px;
                a {
                    @extend .button, .rounded; 
                    background-color: $lightestgrey;
                    border-color: $lightestgrey;
                    color: $black;
                    &:after {
                        content: '\25BE';
                        font-size: 28px;
                        line-height: 16px;
                        color: $grey;
                        margin-left: 12px;
                    }
                    &:hover {
                        color: $blue;
                        border-color: $blue;
                    }
                }
                ul {
                    display: none;
                    text-align: center;
                    font-weight: bold; 
                    margin: 0;
                    padding: 8px 0;
                    li {
                        list-style: none;
                        cursor: pointer;
                        &.active { 
                            color: $blue;
                        }
                    }
                }
            }
        }
    }


    .events {
        @extend .col-md-12;
        order: 6;
        max-width: 1200px;
        height: 80vh;
        max-height: 680px;
        overflow-y: scroll;
        position: relative;
        >.row { overflow: hidden; }

        .days {
            .day { 
                @extend .row, .col-md-12, .align-items-start;
                .header {
                    @extend .col-md-12;
                    padding: 0 0 0 20px;
                }
                .event {
                    @extend .rounded;
                    height: 162px;
                    min-width: 181px;
                    font-size: 15px;
                    margin: 20px 6px 0px ;
                    padding: 6px 10px 2px;
                    text-align: center;
                    &[class*="hidden"] {
                        display: none !important;
                    }
                    span {
                        font-size: 15px;
                        display: block;
                        width: 100%;
                        font-weight: bold;
                        line-height: 1 !important;
                        color: $white;
                        overflow: hidden;
                        line-height: 18px;
                        max-height: 18px;
                        &.title { height: 30px; max-height: 30px; }
                    }
                    a.more {
                        display: block;
                        font-size: 12px;
                        margin: 20px auto;
                        text-align: center;
                        font-weight: bold;
                        color: $white;
                    }
                    .button {
                        max-width: 88px;
                        min-width: 88px;
                        width: 88px;
                        height: 31px;
                        display: inline-block;
                        font-size: 13px;
                        color: $white;
                        background: $grey;
                        border-color: $grey;
                        text-transform: none;
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 4px;
                        margin-right: 8px;
                        text-align: center;
                        font-weight: normal;
                        &:hover {
                            background: $lightestgrey;
                            border-color: $lightestgrey;
                            color: $black;
                        }
                    }

                    // Event Types
                    &[data-type=""] { background-color: $lightgrey; }
                    &[data-type="workshop"] { background-color: $blue; }
                    &[data-type="panel"] { background-color: $yellow; }
                    &[data-type="demo"] { background-color: $red; }
                    &[data-type="tour"] { background-color: $pink; }
                    &[data-type="conference"] { background-color: $green; }
                    &[data-type="showcase"] { background-color: $purple; }
                    &[data-type="community-gathering"] { background-color: $darkblue; }
                    &[data-type="virtual-engagement"] { background-color: $orange; }
                    &[data-type="reception"] { background-color: $forest; }

                }
            }
        }



    }

    // Event Views ////////////////////

    // Planner
        [data-view="planner"] .events {
            .planwide {
                @extend .row;
                flex-wrap: nowrap;
                width: 1024px;
                margin-left: 0 !important;
            }
            .timeslots {
                @extend .col-md-1;
                text-align: right;
                padding-right: 0;
                padding-left: 0;
                z-index: 99;
                margin-right: -6px !important;
                .timeslot {
                    height: 182px;
                    border-right: 3px solid $grey;
                    padding-right: 8px;
                    padding-top: 4px;
                    font-size: 14px;
                    position: relative;
                    &:after {
                        content: '';
                        width: 90vw;
                        height: 1px;
                        top: 16px;
                        margin-left: 18px;
                        position: absolute;
                        border-bottom: 1px dashed $grey;

                    }
                }
            }
            .header {
                color: $grey;
                text-transform: uppercase;
                text-align: center;
                border-bottom: 3px solid $grey;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                padding: 0 5px 12px;
                height: 50px;
                width: 201px;
                span {
                    display: block;
                    font-weight: normal;
                }
                &.time {
                    border: none;
                    margin-bottom: 0;
                }
            }
            .days {
                @extend .row, .col-md-11;
                overflow-x: scroll; 
                border-bottom: 3px solid $grey;
                padding: 0;
                .day {
                    @extend .col-md-2, .align-content-start;
                    flex: none;
                    width: auto !important;
                    min-width: 201px !important;
                    max-width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    @extend .align-content-start;
                    .timerow {
                        height: 182px;
                        width: 100%;
                        overflow: visible;
                    }
                    .event { 
                        max-width: 181px;
                        display: inline-block;
                        position: relative;
                        // Pushes
                            &.thirty { 
                                top: 91px;
                            }
                            &[data-push="1"] { margin-left: 199px; }
                            &[data-push="2"] { margin-left: 392px; }
                            &[data-push="3"] { margin-left: 585px; }
                            &[data-push="4"] { margin-left: 778px; }
                            &[data-push="5"] { margin-left: 971px; }
                        &.duration {
                            &-1-5   { height: 253px; }
                            &-2     { height: 352px; }
                            &-2-5   { height: 443px; }
                            &-3     { height: 534px; }
                            &-3-5   { height: 625px; }
                            &-4     { height: 716px; }
                            &-4-5   { height: 807px; }
                            &-5     { height: 898px; }
                            &-5-5   { height: 989px; }
                            &-6     { height: 1080px; }
                            &-6-5   { height: 1171px; }
                            &-7     { height: 1262px; }
                            &-7-5   { height: 1353px; }
                            &-8     { height: 1444px; }
                        }
                    }
/*
                    &[data-count='0'] {
                        height: 0px;
                        margin-bottom: 0;
                        margin-top: 0;
                        overflow: hidden;
                    }
*/
                }         
            }
        }
    
    // Grid
        [data-view="grid"] .events {
            .timeslots {
                display: none;
            }
            .days {
                @extend .col-md-12;
                .day {
                    margin-bottom: 20px;
                    .header {
                        @extend .rounded;
                        background: $lightestgrey;
                        color: $black;
                        font-weight: bold;
                        font-size: 16px;
                        padding: 8px 16px;
                        margin: 0;
                    }
                    .timerow { 
                        display: inherit;
                    }
                    .event {
                        @extend .col-md-2;
                        margin: 20px 10px 0;
                        max-width: 181px !important;
                        display: inline-block;
                    }
                    &[data-count='0'] {
                        height: 0px;
                        margin-bottom: 0;
                        margin-top: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    
    // List
        [data-view="list"] .events {
            .timeslots {
                display: none;
            }
            .days {
                @extend .col-md-12;
                .day {
                    margin-bottom: 20px;
                    .header {
                        @extend .rounded;
                        background: $lightestgrey;
                        color: $black;
                        font-weight: bold;
                        font-size: 16px;
                        padding: 8px 16px;
                        margin: 0;
                    }
                    .timerow {
                        width: 100%;
                    }
                    .event {
                        @extend .col-md-12;
                        margin: 20px 10px 0;
                        width: 100%;
                    }
                    &[data-count='0'] {
                        height: 0px;
                        margin-bottom: 0;
                        margin-top: 0;
                        overflow: hidden;
                    }

                }
            }
        }        




    // Event Info Modal
    .modal {
        padding: 0;
    }
    .modal-dialog {
        max-width: 505px;
    }
    .modal-content {
        border: 6px solid $yellow;
        padding: 18px 10px;
        border-radius: 0;
        .close {
            position: absolute;
            top:0;
            right:2px;
            line-height: .5;
            font-size: 40px;
            color: $black;
        }
        h5 {
            line-height: normal;
            margin-bottom: 0;
            &.title { 
                font-weight: bold;
                color: $red;
            }
            &.time { 
                font-weight: 100;
                color: $black;
            }
            &.borough { 
                font-weight: 500;
                color: $black;
            }
        }
        .partners {
            text-align: right;
            .circle {
                margin: 0 2px;
                width: 63px;
                background-color: transparent;
                background-size: 72%;
                background-position: 50%;
                border: 1px solid $blue;
            }
        }
        p.summary {
            margin: 12px 0; 
            font-size: 18px;
            font-weight: 300;
            line-height: normal;
        }
        .type {
            text-align: left;
            font-size: 15px;
            line-height: 40px;
            &:before { 
                content: '';
                display: inline-block;
                height: 13px;
                width: 17px;
                margin-right: 5px;
            }
            // Event Types
            &[data-option=""]:before { background-color: $grey; }
            &[data-option="workshop"]:before { background-color: $blue; }
            &[data-option="panel"]:before { background-color: $yellow; }
            &[data-option="demo"]:before { background-color: $red; }
            &[data-option="tour"]:before { background-color: $pink; }
            &[data-option="conference"]:before { background-color: $green; }
            &[data-option="showcase"]:before { background-color: $purple; }
            &[data-option="community-gathering"]:before { background-color: $darkblue; }
            &[data-option="virtual-engagement"]:before { background-color: $orange; }
            &[data-option="reception"]:before { background-color: $forest; }            
        }
        a.register.button {
            color: $white;
            &:hover {
                color: $red;
            }
        }
    }








    .gapper {
        display: none;
        @extend .col-md-3;
        order: 3;
    }










} // end #moda_calendar