// Footer : Widgets

footer {

	padding: 36px 0 56px;
	overflow: hidden;
	font-size: 92%;
	background: $white;
	
	.row {
		display: flex;

		> div {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.legal {
			order: 1;
			@media (max-width: $screen-sm-max) { order: 2; 
				text-align: center;
				padding-left: 40px;
				padding-right: 40px;
			}
		
			ul {
				padding: 0;
				margin: 0 0 0 -12px;
				list-style: none;
				li {
					display: inline-block;
					&+li:before {
						content: '|';
					}
					a {
						padding: 2px 12px;
					}
				}
			}

		}
	
		.shoutout {
			order: 2;
			@media (max-width: $screen-sm-max) { order: 1; }
			
			text-align: center;
			max-width: 280px;
			margin: 0 auto;
			line-height: 1.25;
			p {
				margin-bottom: 4px;
			}
			img {
				max-width: 80px;
			}

		}

	}

}