// Front Page 
body, body.home {


	


.section-partners, .section-news {
	margin: 42px 0;
}


.section-socialize {
	margin-top: 128px;
	margin-bottom: 68px;
	padding: 48px 32px 64px;
	.socialize {
		padding-right: 40px;
		h2 {
			font-size: 52px;
		}
		.icon-grid {
			padding: 16px 0;
			div {
				@extend .col-4, .col-sm-3, .col-md-4, .col-lg-3;
				.circle {
					margin-bottom: 28px;
					margin-right: 8px;
				}
			}
		}
	}
	.contact {
		padding: 12px 8px;
	}
	@media (min-width: $screen-lg-min) {
		padding-left: 64px;
		padding-right: 64px;
		.socialize {
			flex: 0 0 46%;
			max-width: 46%;
		}
		.contact {
			flex: 0 0 54%;
			max-width: 54%;
		}

	}
}


.section-sponsors {
	margin-bottom: 100px;
	padding: 36px 12px;
	.row.sponsors {
		padding: 60px 0;
		img {
			max-width: 200px;
			height: auto;
		}
	}
}

.section-coordinate {
	margin: 0 auto;
	padding: 68px 20px;
	max-width: 840px;
	.blurb {
		margin: 88px auto;
	}
	.newsletter {
		margin: 32px auto;
	}
}	


} // end Front Page