// Front Page 
body {

.row {
	max-width: 1292px;
	margin-left: auto;
	margin-right: auto;
}

.section-intro {
	max-width: 100%;
	min-height: 320px;
	padding: 64px 0;
}

.section-about {
	max-width: 1280px !important;
	margin-top: 88px;
	.info { 
		margin-top: 64px;
		margin-bottom: 64px;
		padding: 0;
	}
}


.section-calendar {
	margin-top: 120px;
	.blue-border {
		margin: 20px 0;
	}
}



.section-partners, .section-news {
	margin: 88px 0;
	.blue-bg {
		padding-top: 8px;
		padding-bottom: 16px;
		@media (max-width: $screen-sm-max) { 
			padding: 0;
		}
	}
	#carouselnews {
		p {
			font-size: 14px;
		}
	}
}


.section-socialize {
	margin-top: 128px;
	margin-bottom: 68px;
	padding: 48px 32px 64px;
	.socialize {
		padding-right: 40px;
		h2 {
			font-size: 53px;
		}
		.icon-grid {
			padding: 16px 0;
			div {
				@extend .col-4, .col-sm-3, .col-md-4, .col-lg-3;
				.circle {
					margin-bottom: 28px;
					margin-right: 8px;
				}
			}
		}
	}
	.contact {
		padding: 12px 8px;
	}
	@media (min-width: $screen-lg-min) {
		padding-left: 64px;
		padding-right: 64px;
		.socialize {
			flex: 0 0 48%;
			max-width: 48%;
		}
		.contact {
			flex: 0 0 52%;
			max-width: 52%;
		}

	}
}


.section-sponsors {
	margin-bottom: 100px;
	padding: 36px 12px;
	.row.sponsors {
		padding: 60px 0;
		img {
			max-width: 200px;
			height: auto;
		}
	}
}

.section-coordinate {
	margin: 0 auto;
	padding: 68px 20px;
	max-width: 840px;
	.blurb {
		margin: 88px auto;
	}
	.newsletter {
		margin: 32px auto;
	}
}	


} // end Front Page