// Front Page 
body, body.home {


	



.section-sponsors {
	padding: 36px 12px;
}




.section-coordinate {
	
	margin: 68px auto 0;
	padding: 68px 20px;
	max-width: 780px;
	
	.blurb {
		margin: 68px auto;
	}
	
	.newsletter {
		margin: 32px auto;
	}

}	


} // end Front Page