// Site Containers Shell ///////////////////////////////////////
	body { 
		font-family: $brand-font; 
		font-size: 100%; 
		color: $black;
		overflow-x: hidden;
		width: 100%;
	}

	.container, .content.row { 
		max-width: 1322px; 
	}

	.wrap.container {
		max-width: 100%;
		background-image: url('../images/background_body.jpg');
		background-size: 100% auto;
		background-position: 50%;
	}

	.content .main { 
		padding: 0; 
	}


// FIIIIIFTHS ////////////////////////////////////////////
	.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; display: inline-block; }
	.col-xs-5ths { -webkit-box-flex: 0; -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%; }
	@media (min-width: 768px) { .col-sm-5ths { -webkit-box-flex: 0; -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%; } }
	@media (min-width: 992px) { .col-md-5ths { -webkit-box-flex: 0; -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%; } }
	@media (min-width: 1200px) { .col-lg-5ths { -webkit-box-flex: 0; -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%; } }


// Global Styles ///////////////////////////////////////

	div, img, a, li { background-repeat: no-repeat; }

	a { color: $blue; }
	a:hover { color: $red; text-decoration: none; }

	p:empty { display: none; }

	.small { @extend small; }

	:focus, :active { outline-color: $red; }

	main img { max-width: 100%; }

// Headers //////////////////////////////////////////
	#{headings(1,6)} { 
		font-weight: 400; 
		color: $blue; 
		line-height: 1.3; 
	}
	h1 { font-size: 54px; }
	h2 { font-size: 50px; line-height: 59px; font-weight: 300; }
	h3 { font-size: 40px; line-height: 48px; font-weight: bold; }
	h4 { font-size: 30px; }
	h5 { font-size: 24px; }
	h6 { font-size: 15px; line-height: 18px; font-weight: 500; }
	@media (max-width: $screen-sm-max) {
		h1 { font-size: 10vw; }
		h2 { font-size: 8vw; }
		h3 { font-size: 7vw; }
		h4 { font-size: 6vw; }
		h5 { font-size: 5.5vw; }
		h6 { font-size: 5vw; }
		h1, h2, h3, h4, h5, h6 { line-height: 1.5; }
	}


// Modals on Mobile Safari apparently //////////////////////////////////////////
	[data-toggle="modal"] { cursor: pointer; }


// Standardized Features //////////////////////////////////////////

	.blue-border {
		border: 5px solid $blue;
	}

	.rounded {
		border-radius: 8px !important;
	}

	.blurb {
		max-width: 560px;
		padding: 28px 16px;
		margin: 0 auto;
		text-transform: none;
		font-weight: 100;
		transform: scaleX(0.97);
		strong {
			font-weight: 900;
		}
	}

	.circle {
		border-radius: 50%;
		width: 100%;
		display: inline-block;
		overflow: hidden;
		background-size: cover;
		background-color: $grey;
		text-indent: -1000vw;
		&:before {
		    content: "";
		    display: block;
		    padding-top: 100%;
		}
	}
	
	.font-weight-light {
		font-weight: 100;
		@media (max-width: $screen-sm-max) { font-weight: 200; }
	}


// Four Circles Highlight //////////////////////////////////////////
	.circles-above {
		position: relative;
		&:before {
			position: absolute;
			top: -40px;
			left: 50%;
			margin-left: -70.5px;
			content: '';
			width: 141px;
			height: 28px;
			background-image: url('../images/circles.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
		&.circles-high:before {
			top: -64px;
		}
		&.circles-white:before {
			@extend .filter-white;
		}
		&.circles-black:before {
			@extend .filter-white;
		}
	}


// Circle BG //////////////////////////////////////////
	.circle-bg {
		position: relative;
		overflow: hidden;
		>* {
			z-index: 2;
		}

		&:after {
			z-index: 0;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			border-radius: 50%;
			width: 100%;
			max-width: 840px;
			min-width: 480px;
			height: 88vw;
			max-height: 840px;
			min-height: 480px;
			background: $lightestgrey;

		}

	}

// Color Filters //////////////////////////////////////////
	.filter {
		// White
		&-white {
			filter: brightness(0) invert(1);
		}
		// Grey
		&-grey {
			-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-filter: grayscale(100%);
			filter: gray;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		}
		// White
		&-black {
			filter: brightness(0%);
		}
	}






// Collapse Admin Bar ///////////////////////////////////////
	#wpadminbar { height:4px; overflow: hidden; } #wpadminbar:hover { height: auto; overflow: visible; } html[lang*="US"]{margin-top:0 !important;}
	@media (max-width: $screen-md-min) { body.admin-bar { border-top: 46px dashed $transparent; } }
	#wp-admin-bar-directory_settings .ab-item::before { content: '\f116'; top: 3px; }